{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block jumbotron %}

{% if validlink %}

<form method="post" action=".">
  {% csrf_token %} 
  <div class="col-md-12" style="margin-top: 25px; max-width: 350px; color: white; font-size: medium;">
    {{ form|crispy }}
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-sm-4 col-sm-offset-6" >
      <input class="btn btn-block" type="submit" value="{% trans 'Submit' %}" />
    </div>
  </div>

  <input type="submit" value="{% trans 'Submit' %}" />
</form>

<div class="row" style="border-radius: 25px;">
<div class='col-sm-2 col-sm-offset-2' style="background-color: #195E8D; max-height: 500px; min-height: 500px; border-radius: 25px;">
    <h2 style="color: white;">Register_::</h2>
</div>
<div class='col-sm-4' style="padding-top: 20px; margin-left: -50px; background-color: #195E8D;  min-width: 650px; max-height: 500px; min-height: 500px; border-radius: 25px;">
<form method="post" action=".">
  {% csrf_token %} 
  <div class="col-md-12" style="margin-top: 25px; max-width: 350px; color: white; font-size: medium;">
    {{ form|crispy }}
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-sm-4 col-sm-offset-6" >
      <input class="btn btn-block" type="submit" value="{% trans 'Submit' %}" />
    </div>
  </div>

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
</div>


{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}

{% endblock %}
