{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block jumbotron %}
<div class="row" style="border-radius: 25px;">
<div class='col-sm-3 col-sm-offset-2' style="background-color: #195E8D; max-height: 350px; min-height: 350px; border-radius: 25px;">
    <h2 style="color: white;">Reset Password_::</h2>
</div>
<div class='col-sm-4' style="padding-top: 20px; margin-left: -50px; background-color: #195E8D; max-height: 350px; min-height: 350px; border-radius: 25px;">
<form method="post" action=".">
  {% csrf_token %} 
  <div class="col-md-8" style="margin-top: 25px; color: white; font-size: large;">
    {{ form|crispy }}
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-8">
      <input class="btn btn-block" type="submit" value="{% trans 'Submit' %}" />
    </div>
  </div>
</form>
</div>

</div>
{% endblock %}
